.nav-wrapper{
    background: linear-gradient(blue,gray);
    padding: 0 10px;
}

.nav-wrapper .right li{
    margin-right: 20px;
}

#nav2 li{
    padding-right: 100px;
}

.carousel{
    margin-top: 60px !important;
    width: 100%;
    height: 400px !important;
    margin-left: -1400px;
    margin-bottom: 30px;
}

.carousel .carousel-item>img{
    width: 140px;
}

html {
    background: url('../src/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#map{
    width: 100%;
    height: 400px;
    background: gray;
}

.lbl{
    font-size: 15px;
    position: relative;
    top: -1px;
}

#bday{
    position: relative;
    top: 25px;
    color: white;
}

#btnSubmit{
    margin-left: 35%;
}

#rbMale{
    margin-right: 50px;
    margin-left: 30px;
}

#fourth{
    margin-bottom: 40px;
}

form{
    margin-bottom: 40px;
}

.hexagon {
    position: relative;
    width: 200px; 
    height: 115.47px;
    background-color: #3f51bf;
    margin: 57.74px 0;
    box-shadow: 0 0 30px rgba(0,0,0,1);
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 141.42px;
    height: 141.42px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 29.2893px;
    box-shadow: 0 0 30px rgba(0,0,0,1);
  }
  
  .hexagon:before {
    top: -70.7107px;
  }
  
  .hexagon:after {
    bottom: -70.7107px;
  }
  
  .hexagon span {
    display: block;
    position: absolute;
    top:0px;
    left: 0;
    width:200px;
    height:115.4701px;
    z-index: 2;
    background: inherit;
  }

  .text{
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
  }

  .stats{
      margin-bottom: 20px;
      margin-right: 80px;
  }

  #about{
      margin: 50px 0;
  }

  #bdayInp{
      font-size: 20px;
  }

  #head{
      font-size: 25px;
  }

  .italic{
      font-style: italic;
  }